<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExtendedTimeout" receiveTimeout="00:05:00" allowCookies="false"  maxReceivedMessageSize="1048576000"
                 maxBufferSize="1048576000"  maxBufferPoolSize="1048576000" messageEncoding="Text" textEncoding="utf-8">
          <readerQuotas maxDepth="32" maxArrayLength="1048576000"  maxStringContentLength="1048576000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:39739/StarbucksServices.svc"
        binding="basicHttpBinding" contract="Starbucks.IStarbucks" name="Default" bindingConfiguration="ExtendedTimeout" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="baseWebURL" value="http://localhost:39739"/>
  </appSettings>
</configuration>